<!DOCTYPE html>
<html ng-app="accion">
<head>
	<meta charset="UTF-8">
	<title>Colecciones de Datos Angular</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<h1>Colecciones de Datos Angular</h1>
	<div class="wrapper">
		
		<div ng-controller="controlador1">
			<h2>Nombres</h2>
			<ul>
				<li ng-repeat = "nombreIndividual in nombresSimpre">
					{{ nombreIndividual }}
				</li>
			</ul>

			<h2>Heroes de Acción</h2>
			<ul>
				<li ng-repeat=" heroe in heroes">
					{{ heroe.nombre}} {{ heroe.apellido}}
				</li>
			</ul>
			
		</div>

	</div>

	<script src="angular.min.js"></script>

	<script>
	
		var miAplicacion = angular.module('accion', [])

		miAplicacion.controller('controlador1', ['$scope', function($scope){

			$scope.nombresSimpre = ["Alois", "Gardenzio", "Carlos"]

			$scope.heroes = [
			{nombre: "Arnold", apellido: "Schwareneger"},
			{nombre: "Silvestre", apellido: "Stallone"},
			{nombre: "Chuck", apellido: "Norris"},
			]

		} ] )

	</script>
	

	
</body>
</html>