<!DOCTYPE html>
<html ng-app="tiendeDeFruta">
<head>
	<meta charset="UTF-8">
	<title>Controladores Angular</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<h1>Controladores Angular</h1>
	<div class="wrapper">
		
		<div ng-controller="controlador1">
			<h2>¡Promoción de Mangos!</h2>
			<h3>$2.5 cada uno</h3>

			<label for="">Cantidad de mangos:</label>
			<input type="text" ng-model="cantidad">

			<br>

			Precio Total: {{ cantidad * precio | currency}}
			
		</div>

	</div>

	<script src="angular.min.js"></script>

	<script>
	
		var miAplicacion = angular.module('tiendeDeFruta', [])

		miAplicacion.controller('controlador1', ['$scope', function($scope){

			$scope.cantidad = 0
			$scope.precio = 2.15

		} ] )

	</script>
	

	
</body>
</html>