<!DOCTYPE html>
<html ng-app="css">
<head>
	<meta charset="UTF-8">
	<title>CSS y Angular</title>
	<link rel="stylesheet" href="style.css">

	<style>
		div{
			width: 600px;
			margin: 10px auto;
			text-align: center;
		}

		.angular{
			background: red;
			font-size: 40px;
			padding: 0 40px;
			color: #fff;
		}
	</style>
</head>

<body>
	<h1>CSS y Angular</h1>
	<div class="wrapper">
		
		<div ng-controller="controlador1">
			
			<div class="contenedor">
				<p ng-style="estilos"> Yo controlo el estilo de mis aplicaciones con <span ng-class="claseEspecial">Angular Js</span></p>
			</div>

			<button ng-click="cambiarPropiedades()">Cambiar Propiedades</button>
			<button ng-click="cambiarClases()">Cambiar Clases</button>
			<button ng-click="reiniciarClases()">REINICIAR</button>

		</div>
	</div>

	<script src="angular.min.js"></script>

	<script>
	
		var miAplicacion = angular.module('css', [])

		miAplicacion.controller('controlador1', ['$scope', function($scope){

			$scope.cambiarPropiedades = function() {

				$scope.estilos = {"background": "blue", "color": "yellow"}

			}

			$scope.cambiarClases = function() {

				$scope.claseEspecial = "angular"

			}

			$scope.reiniciarClases = function() {

				$scope.estilos = ""
				$scope.claseEspecial = ""

			}


		} ] )

	</script>
	

	
</body>
</html>