<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="UTF-8">
	<title>Data Binding Angular</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<h1>Data Binding Angular</h1>
	<div class="wrapper">

		<label for="">Nombre:</label>
		<input type="text" ng-model="nombre">

		<div class="tarjeta">
			<h2>Ni nombre es:</h2>
			<h2>{{ nombre }}</h2>
			
		</div>
	</div>

	<script src="angular.min.js"></script>
</body>
</html>