<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="UTF-8">
	<title>Directivas Angular</title>
	<link rel="stylesheet" href="style.css">
</head>

<body ng-controller="primerControlador">
	<h1>Directivas Angular</h1>
	<div class="wrapper">
		
		<div ng-show="true">
			
		</div>

		<button ng-click="controladorBoton()" ng-show="false">
			Presiona aquí si te gustan las directivas.
		</button>

	</div>
	

	<script src="angular.min.js"></script>
	
</body>
</html>