<!DOCTYPE html>
<html ng-app="accion">
<head>
	<meta charset="UTF-8">
	<title>Eventos Angular</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<h1>Eventos Angular</h1>
	<div class="wrapper">
		
		<div ng-controller="controlador1">

			<button ng-click="clickSimple()">Click</button>

			<button ng-dblclick="clickdoble()">Click</button>

			<img src="ave1.png" ng-mouseleave="mouseDejaLaImagen()" ng-mouseenter="mouseSobreLaImagen()">

			<h2> {{ evento }} </h2>
		
		</div>

	</div>

	<script src="angular.min.js"></script>

	<script>
	
		var miAplicacion = angular.module('accion', [])

		miAplicacion.controller('controlador1', ['$scope', function($scope){

			$scope.clickSimple = function() {
				$scope.evento = "Click"
			}

			$scope.clickdoble = function() {
				$scope.evento = "Doble "
			}


			$scope.mouseDejaLaImagen = function() {
				$scope.evento = "Fuera de la imagen"
			}

			$scope.mouseSobreLaImagen = function() {
				$scope.evento = "Sobre de la imagen"
			}

		} ] )

	</script>
	

	
</body>
</html>