<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="UTF-8">
	<title>Expresiones Angular</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<h1>Expresiones Angular</h1>
	<div class="wrapper">
		<p>{{ 'Hola' }}</p>
		<p>{{ (49+3) * 7+1 }} días del año</p>
		<p>{{ 3* 8 }} horas del día</p>
	</div>
	

	<script src="angular.min.js"></script>
	
</body>
</html>