<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="UTF-8">
	<title>Filtros Angular</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<h1>Filtros Angular</h1>
	<div class="wrapper">
		<h3>Mi tienda de verduras</h3>

		<ul>
			<li>Apio {{ 50 | currency}}</li>
			<li>Brocoli {{ 50 | currency:"€"}}</li>
			<li>Espinada {{ 50+10 | currency:"¢"}} importada de {{ 'INdia' | uppercase}}</li>
		</ul>

	</div>
	

	<script src="angular.min.js"></script>
	
</body>
</html>