<!DOCTYPE html>
<html ng-app="agenda">
<head>
	<meta charset="UTF-8">
	<title>Filtrado de datos Angular</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<h1>Filtrado de datos Angular</h1>
	<div class="wrapper">
		
		<div ng-controller="controlador1">
			<h2>Agenda Telefónica</h2>

			<label for="">Buscar:</label>
			<input type="search" ng-model="busqueda">

			<p ng-repeat ="entrada in agenda | filter: busqueda">
				{{ entrada.nombre }} {{ entrada.telefono }}
			</p>
		
		</div>

	</div>

	<script src="angular.min.js"></script>

	<script>
	
		var miAplicacion = angular.module('agenda', [])

		miAplicacion.controller('controlador1', ['$scope', function($scope){

			$scope.agenda = [
				{nombre: "René", telefono: "9818140943"},
				{nombre: "Carlos", telefono: "9828230243"},
				{nombre: "Reina", telefono: "981112090"},
				{nombre: "Ariii", telefono: "11111"},
				{nombre: "Pizza", telefono: "01-piza"},
				{nombre: "burguer", telefono: "burguues"}
			]

		} ] )

	</script>
	

	
</body>
</html>