<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="UTF-8">
	<title>Mi primer ejemplo con angular</title>
	<link rel="stylesheet" href="style.css">
</head>

<body ng-controller="AlumnosController">
	<h1>Cuaderno de Alumnos</h1>
	<div class="wrapper">
		<div class="contact-item" ng-repeat="alumno in alumnos | orderBy: 'nombre'">
			<div class="nombre"> {{alumno.nombre}} -- {{alumno.telefono}}</div>
			<span class="curso">{{alumno.curso}}</span>
		</div>
	</div>
	<br>
	<center><button ng-click="mostarForm()" ng-hide="formVisible">Añadir Contacto</button></center>

	<div ng-show="formVisible" class="wrapper">
		<h2>Añadir un contacto</h2>
		Nombre: <input type="text" ng-model="nuevoAlumno.nombre">
		Telefono: <input type="text" ng-model="nuevoAlumno.telefono">
		Curso: <input type="text" ng-model="nuevoAlumno.curso">
		<button ng-click="Save()">Guardar</button>
	</div>



	<script src="angular.min.js"></script>
	<script src="alumnoController.js"></script>
	
</body>
</html>