<!DOCTYPE html>
<html ng-app="accion">
<head>
	<meta charset="UTF-8">
	<title>Intercambiar Imagenes Angular</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<h1>Intercambiar Imagenes Angular</h1>
	<div class="wrapper">
		
		<div ng-controller="controlador1">

			<img ng-src="{{imagenActual}}">
			
			<br>
			<button ng-click="mostrarImagen('ejemplo1.png')">Imagen 1</button>

			<button ng-click="mostrarImagen('ejemplo2.png')">Imagen 2</button>
		
		</div>

	</div>

	<script src="angular.min.js"></script>

	<script>
	
		var miAplicacion = angular.module('accion', [])

		miAplicacion.controller('controlador1', ['$scope', function($scope){

			$scope.imagenActual = 'ejemplo1.png'

			$scope.mostrarImagen = function(_imagen){

				$scope.imagenActual = _imagen

			}


		} ] )

	</script>
	

	
</body>
</html>