<!DOCTYPE html>
<html ng-app="miApp">
<head>
	<meta charset="UTF-8">
	<title>Métodos en Controladores Angular</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<h1>Métodos en Controladores Angular</h1>
	<div class="wrapper">
		
		<div ng-controller="circunferencia">

			<label for="">Diametro:</label>
			<input type="text" ng-model="diametro"><br>

			<button ng-click="calcularCircunferencia()">Calcular Circunferencia</button>

			{{  circunferencia }}		
		</div>

	</div>

	<script src="angular.min.js"></script>

	<script>
	
		var miAplicacion = angular.module('miApp', [])

		miAplicacion.controller('circunferencia', ['$scope', function($scope){

			var pi = 3.14

			$scope.calcularCircunferencia = function(){
				$scope.circunferencia = $scope.diametro * pi
			}


		} ] )

	</script>
	

	
</body>
</html>