<!DOCTYPE html>
<html ng-app="css">
<head>
	<meta charset="UTF-8">
	<title>Mostrar y Ocultar elementos Angular</title>
	<link rel="stylesheet" href="style.css">
	<style>
	.alerta{
		width: 400px;
		height: 200px;
		line-height: 200px;
		text-align: center;
		font-family: monospace;
		color: #fff;
		background: #000;
		font-size: 22px;
	}
	</style>
</head>

<body>
	<h1>Mostrar y Ocultar elementos Angular</h1>
	<div class="wrapper">
		
		<div ng-controller="controlador1">
			<button ng-click="mostar()">Revelar secreto</button>
			<button ng-click="ocultar()">Ocultar secreto</button>


			<div class="alerta" ng-show="visibilidadMensaje">
				Este mensaje es secreto
			</div>
		
			
		</div>

	</div>

	<script src="angular.min.js"></script>

	<script>
	
		var miAplicacion = angular.module('css', [])

		miAplicacion.controller('controlador1', ['$scope', function($scope){

			$scope.visibilidadMensaje = false

			$scope.mostar = function(){
				$scope.visibilidadMensaje = true
			}

			$scope.ocultar = function(){
				$scope.visibilidadMensaje = false
			}


		} ] )

	</script>
	

	
</body>
</html>