<!DOCTYPE html>
<html ng-app="nombreApp">
<head>
	<meta charset="UTF-8">
	<title>Multiples Controladores Angular</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<h1>Multiples Controladores Angular</h1>
	<div class="wrapper">
		
		<div ng-controller="controlador1">

			Nombre: {{ nombre }}
			
		</div>

		<div  ng-controller="controlador2">
			
			Nombre: {{ nombre }}

		</div>

		<hr>

	</div>

	<script src="angular.min.js"></script>

	<script>
	
		var miAplicacion = angular.module('nombreApp', [])

		miAplicacion.controller('controlador1', ['$scope', function($scope){

			$scope.nombre = "Juan";

		} ] )

		miAplicacion.controller('controlador2', ['$scope', function($scope){

			$scope.nombre = "Pedro";

		} ] )

	</script>
	

	
</body>
</html>