<!DOCTYPE html>
<html ng-app="tareasApp">
<head>
	<meta charset="UTF-8">
	<title>Pintar Items Angular</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<h1>Pintar Items Angular</h1>
	<div class="wrapper" ng-controller="controlador1">
		
		<form ng-submit="addTarea()">
			<input type="text" ng-model="tarea">
			<input type="submit" value="Añador">
		</form>

		<h3>Mis Tareas</h3>
		<p ng-repeat="tarea in tareas">
			<input type="text" ng-model="tarea.item" name="{{tarea.nombreItem}}">
			<button ng-click="eliminarTarea($index)">X</button>
		</p>
	</div>
	

	<script src="angular.min.js"></script>
	<script>
		var miAplicacion = angular.module('tareasApp', [])
		
		miAplicacion.controller('controlador1', ['$scope', function($scope){
			$scope.tareas = [
				{item: 'Item 1', nombreItem: 'color'},
				{item: 'Item 2', nombreItem: 'peso'},
				{item: 'Item 3', nombreItem: 'tamaño'}
			]

			$scope.addTarea = function(){
				$scope.tareas.push({item: $scope.tarea, nombreItem: $scope.tarea})
				$scope.tarea = ''
			}

			$scope.eliminarTarea = function(index){
				$scope.tareas.splice(index, 1)
			}

		}])
	</script>
	
</body>
</html>